*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: cadetblue;
    color: darkblue;
}
h1{
    text-align: center;
    color: dodgerblue;
    padding: 10px;

}
img{
    border-radius: 5%;
    border: black solid;
    width: 50%;
    height: 50%;
}
.contenedor{
    display: flex;
    justify-content: center;
}